@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);

.contenedorPrincipal{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contenedorGeneral{

    padding: 25% 10%;
    display: flex;
    margin-left: 5rem;
    background: #780803;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;

}
.contenedorImagen{
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #000000;
    margin-top: 6rem;
    padding: 0 3rem;
    flex-wrap: wrap;

}

.contenedorText{
    padding: 0 8rem 0 0;
}

.contenedorFormulario{
    display: grid;
    grid-template-rows: 80%;
    grid-template-columns: 53%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;


}

.contenedorLogoInicio{

    display: flex;
    justify-content: space-between;
}

.contRegresar{
    display: flex;
    gap: 15px;
}

.arrow{

    font-size: 30px;
    align-self: center;
    transition: .2s; 
    cursor: pointer;
}
.arrow:hover{
    transform: scale(1.3);
}
.contenerdorForGen{
    display: grid;
    grid-template-rows: 3.2rem 3.3rem 4rem 14rem 8rem 4rem;
    padding: 5%;
    border: 3px solid #780803;
    border-radius: 15px;
}

.contenedorInputs{
    display: grid;
    grid-template-rows: 7rem 7rem ;
    align-items: center;

}
.continputs{
    display: grid;
    grid-template-rows: 2rem 3rem;
    align-content: center;
    row-gap: 7px;  
}

.inputs{
    resize: none;
    border-radius: 3px;
    border: 2px solid black;
    padding: 13px;
    font-size: 18px;
}

.contenedorBtnInicio{

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.btnIniciarSesion{

    height: 2.5rem;
    width: 9rem;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    background-color: #780803;
    font-size: 10px;
    font-family: "TypnicHeadlineSlab";
    color: white;

}

.btnIniciarSesion:hover{ 
    transition: 0.5s;
    background-color: #000000;
}

.contenedorRegistrate{
    display: flex;
    align-content: center;
    justify-content: center;
}
.registrate{

    text-decoration: none;
    font-family: "regular";
    font-size: 17px;
    color: black;
}